<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
</head>

<body>

<nav th:replace="navbar.html::nav"></nav>

<div>
    <h2>Edit book</h2>
    <br />
    <form action="#" th:action="@{/save_book}" th:object="${book}" method="post">
        <table>
            <tr>
                <td>Book Id:</td>
                <td><input type="text" th:field="*{idb}" readonly="readonly" /></td>
                <input type="hidden" th:field="*{idb}" />
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>
                    <select th:field="*{publisher}" class="form-control">
                        <option th:each="publisher : ${publishers}" th:value="${publisher.idp}" th:text="${publisher.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select th:field="*{category}" class="form-control">
                        <option th:each="category : ${categories}" th:value="${category.idc}" th:text="${category.description}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit">Save</button>
    </form>
</div>

</body>
</html>
