<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>WebAppKsiazki</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletDodajKsiazke</display-name>
    <servlet-name>servletDodajKsiazke</servlet-name>
    <servlet-class>servletDodajKsiazke</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDodajKsiazke</servlet-name>
    <url-pattern>/servletDodajKsiazke</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletUsunKsiazke</display-name>
    <servlet-name>servletUsunKsiazke</servlet-name>
    <servlet-class>servletUsunKsiazke</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletUsunKsiazke</servlet-name>
    <url-pattern>/servletUsunKsiazke</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletDodajKategorie</display-name>
    <servlet-name>servletDodajKategorie</servlet-name>
    <servlet-class>servletDodajKategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDodajKategorie</servlet-name>
    <url-pattern>/servletDodajKategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletUsunKategorie</display-name>
    <servlet-name>servletUsunKategorie</servlet-name>
    <servlet-class>servletUsunKategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletUsunKategorie</servlet-name>
    <url-pattern>/servletUsunKategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletDodajWydawnictwo</display-name>
    <servlet-name>servletDodajWydawnictwo</servlet-name>
    <servlet-class>servletDodajWydawnictwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletDodajWydawnictwo</servlet-name>
    <url-pattern>/servletDodajWydawnictwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletUsunWydawnictwo</display-name>
    <servlet-name>servletUsunWydawnictwo</servlet-name>
    <servlet-class>servletUsunWydawnictwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletUsunWydawnictwo</servlet-name>
    <url-pattern>/servletUsunWydawnictwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletListaWydawnictw2</display-name>
    <servlet-name>servletListaWydawnictw2</servlet-name>
    <servlet-class>servletListaWydawnictw2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletListaWydawnictw2</servlet-name>
    <url-pattern>/servletListaWydawnictw2</url-pattern>
  </servlet-mapping>
</web-app>