@charset "UTF-8";

body {background-color: rgb(232, 232, 232);}

div#zawartosc {color:#888; margin-left:8em; padding: 1px 0 1px 5%;}

div#zawartosc h1,form{color:rgb(0, 0, 0);}

div#menu {float:left; width:8em; background:#bfb; margin:0;}

div#menu a {display:block; padding:0.2em 0 0.2em 0.5em; text-decoration:none; margin:0; color:black;}

div#menu ul {margin:0; padding:0; width:8em; background:#fef3a5; border:1px solid #999;}

div#menu li {list-style:none; margin:0; padding:5px; border-bottom:1px solid #999;}

div#menu li:hover {background-color:#fdc153;}

div#menu li.podmenu { background-color:#fdcd73;}

div#menu li.podmenu ul.listaKategorii {position: absolute; display: none; margin-left: 123px; margin-top: -24px;}

div#menu li.podmenu:hover ul.listaKategorii { display: block;}

div#menu li.podmenu li {margin: 0 0 0 25px; padding: 0;}

div#listaKsiazek {margin-left: 12em;}

div#kontakt {margin-left:8em; padding: 1px 0 1px 5%;}
